<%= form_with url: path, method: method, local: true do |f| %>
    <p><%= f.label :title %>
    <%= f.text_field :title %></p>
    <p><%= f.label :author %>
    <%= f.text_field :author %></p>
    <p><%= f.label :publication_year, "Publication Year" %>
    <%= f.select :publication_year, 1900..(DateTime.now.year) %></p>
    <p><%= f.label :genre %>
    <%= f.text_field :genre %></p>
    <p><%= f.label :summary %>
    <%= f.text_field :summary %></p>
    <p><%= f.submit button_text %></p>
<% end %>
