<h1><center>Books</h1></center>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Publication Year</th>
      <th scope="col">Genre</th>
      <th scope="col">Summary</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <tr>
        <th scope="row"><%= book.title %></th>
        <div id="book-<%= book.id%>">
        <td><%= book.author %></td>
        <td><%= book.publication_year %></td>
        <td><%= book.genre %></td>
        <td><%= book.summary %></td>
        <td><%= button_to "Delete", "/books", method: :delete %></td>
    </div>
    <% end %>
    </tr>
  </tbody>
</table>
