<h1><center>Books</h1></center>
<div class="margin"><table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><center>Title</center></th>
      <th scope="col"><center>Author</center></th>
      <th scope="col"><center>Publication Year</center></th>
      <th scope="col"><center>Genre</center></th>
      <th scope="col"><center>Summary</center></th>
      <th scope="col"><center>Rating</center></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <% if book.wishlisted == false %>
    <tr>
        <div id="book-<%= book.id%>">
        <th scope="row"><%= book.title %></th>
        <td><%= book.author %></td>
        <td><%= book.publication_year %></td>
        <td><%= book.genre %></td>
        <td><%= book.summary %></td>
        <td><div class="flex gap-x-3 mb-4">
            <% Book::MAX_RATING.times do |n| %>
            <%= inline_svg_tag("star.svg",
            class: "w-8 h-8 #{star_rating_class(book, n)}") %>
        <% end %>
        <% end %>
</div></td>
        <td><%= button_to "Edit", "/books/#{book.id}/edit", method: :get %></td>
        <td><%= button_to "Delete", "/books/#{book.id}", method: :delete %></td>
    </div>
    <% end %>
    </tr>
  </tbody>
<p><%= button_to "Wishlist!", "/wishlist", method: :get %></p>
<p><%= button_to "Add Book", "/books/new", method: :get %></p>
</table>
</div>